.customHr {
    border: none;
    height: 1px;
    background-color: var(--black);
    
    margin: 2rem auto;
    width: 90%; 
}

@media screen and (min-width: 1024px) {
    .customHr {
        width: 95%; 
    }
}