.about {
    width: 100%;
    background-color: var(--orange);
}

.imageContainer {
    width: 22rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.myPhoto {
    object-fit: cover;
    width: 100%;
}

.contactIconsContainer {
    display: flex;
    justify-content: right;
    gap: 1rem;

    margin: 0 auto;
    padding-top: 2rem;
}