.about {
    width: 100%;
    background-color: var(--green);
}

.imageContainer {
    width: 22rem;
    margin: 0 auto;
    padding-top: 2rem;
    overflow: hidden; 
}

.myPhoto {
    object-fit: contain; 
    width: 100%;
    height: auto; 
    object-position: center; 
}


.contactIconsContainer {
    display: flex;
    justify-content: right;
    gap: 1rem;

    margin: 0 auto;
    padding-top: 2rem;
}